{
  "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "amd": true,
      "jasmine": true,
      "jquery": true
    },
    "globals": {
      "jest": true,
      "pit": true,
      "__DEV__": true
    },
    "plugins": [
      "react"
    ],
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "templateStrings": true,
      "generators": true,
      "classes": true,
      "modules": true,
      "forOf": true,
      "jsx": true,
      "objectLiteralComputedProperties": true
    },
    "rules": {
      "no-alert": 2,
      "no-array-constructor": 2,
      "no-caller": 2,
      "no-bitwise": 0,
      "no-catch-shadow": 2,
      "no-console": 2,
      "no-control-regex": 2,
      "no-debugger": 2,
      "no-div-regex": 2,
      "no-dupe-keys": 2,
      "no-else-return": 2,
      "no-empty": 2,
      "no-empty-class": 2,
      "no-eq-null": 2,
      "no-eval": 2,
      "no-ex-assign": 2,
      "no-func-assign": 0,
      "no-floating-decimal": 2,
      "no-implied-eval": 2,
      "no-with": 2,
      "no-fallthrough": 2,
      "no-unreachable": 2,
      "no-undef": 2,
      "no-undef-init": 2,
      "no-unused-expressions": 2,
      "no-octal": 2,
      "no-octal-escape": 2,
      "no-multi-str": 0,
      "no-new-wrappers": 2,
      "no-new-object": 2,
      "no-unused-vars": 1,
      "no-script-url": 2,
      "no-proto": 2,
      "no-redeclare": 2,
      "no-regex-spaces": 2,
      "no-extra-semi": 1,
      "no-irregular-whitespace": 2,
      "no-multi-spaces": 2,
      "no-trailing-spaces": [2, {
          "skipBlankLines": true
      }],
      "no-use-before-define": [2, "nofunc"],

      "break-style": 0,
      "block-scoped-var": 0,
      "camelcase": 2,
      "comma-dangle": 2,
      "curly": 2,
      "dot-notation": 2,
      "eqeqeq": 2,
      "guard-for-in": 0,
      "key-spacing": [2, {
          "beforeColon": false,
          "afterColon": true
      }],
      "max-depth": [0, 4],
      "new-cap": 2,
      "new-parens": 2,
      "quotes": [2, "single"],
      "quote-props": 0,
      "radix": 2,
      "semi": 2,
      "space-infix-ops": 2,
      "strict": 0,
      "use-isnan": 2,
      "valid-typeof": 1,
      "wrap-iife": 2,
      "wrap-regex": 0,

      "react/display-name": 0,
      "react/jsx-quotes": [2, "single", "avoid-escape"],
      "react/jsx-no-undef": 1,
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1,
      "react/no-did-mount-set-state": 0,
      "react/no-did-update-set-state": 0,
      "react/no-multi-comp": 2,
      "react/prop-types": 2,
      "react/react-in-jsx-scope": 1,
      "react/self-closing-comp": 2,
      "react/wrap-multilines": 2
    }
}
