.cv-MasonryGallery {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  font-size: 0;
  margin: 0 auto;
  width: 80%;
}

.cv-MasonryGallery-figure {
  margin: 2px;
}

.cv-MasonryGallery-image {
  height: auto;
  width: 100%;
}

@media all and (max-width: 900px) {
  .cv-MasonryGallery {
    width: 100%;
  }
}
