.cv-MasonryGallery {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-size: 0;

  @media only screen and (min-width: 900px) {
    width: 80%;
  }
}

.cv-MasonryGallery-figure {
  margin: 2px;
}

.cv-MasonryGallery-image {
  width: 100%;
  height: auto;
}
